.carousel {
    margin: 3rem 0;
    overflow: hidden;
    position: relative;
}

.carousel__inner {
    display: flex;
    transition: transform 0.3s;
 }
.carousel__item {
    display: flex;
    min-width: 100%;
}
.carousel__block {
    background-color: #F9F9FA;
    padding: 6.25rem 5.85rem 3.5rem 5.25rem;
}
.carousel__testimonial {
    margin-bottom: 2rem;
    position: relative;
}
.carousel__testimonial::before {
    content: url('../../assets/article-icon.svg');
    position: absolute;
    top: -2.75rem;
    left: 0;
}
.carousel__testimonial p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.carousel__name {
    font-weight: 700;
    font-size: 0.85rem;
}

.carousel__company, .carousel__company span {
    font-size: 0.7rem;
}

.carousel__company span {
    display: inline-block;
    font-weight: 500;
    position: relative;
}

.carousel__company span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #F3741C;
}

.carousel__img {
    flex: 1 0 40%;
}

.carousel__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel__buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 1px;
}
.carousel__button {
    width: 2.75rem;
    height: 2.75rem;
    background-color: #E97937;
}

.noactive svg path{
   opacity: 0.7;
}

@media screen and (max-width: 1000px) {
    .carousel__item {
           flex-wrap: wrap;
        }
    .carousel__block {
        order: 2;
        padding: 5rem 1.85rem 2.5rem 2.25rem;
    }
    .carousel__img {
        order: 1;
        flex: 1 1 100%;
        height: 300px;
    }
    .carousel__buttons {
        top: calc(300px - 2.75rem)}
}